input{
  width:150px;
  height:100px;
  font-size:70px;
  border-radius: 10px;
  color:white;
  border-style:none;
  background-color:pink;
  margin:10px;


}
h1{
margin-right:center;
margin-top:60px;
font-size:70px;
text-align:center;
}

calform{

margin-left:225px;
margin-right:20px;
}
